body{
	background: url(../images/recuperar.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#oscurecer{
	background-color: rgba(0, 0, 0, 0.7);
}

#white{
	color: white;
}